footer 
{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-align: center;
    color: #888;
}
footer >  ul
{
    display: flex;
    gap: 10px;
    
}
footer a
{
    color: #666;

}


@media screen and (max-width:425px){
	
}