section.open-source-projects{
    margin:auto;
    width:1000px;
    margin-top:50px;
    color:#888;
}
section.open-source-projects>div.project-boxes{
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
div.project-boxes>div.project>img{
    height:300px;
    width:500px;
    margin-top:10px;
	object-fit:cover;
    
}
div.project-boxes>div.project>p{
    height:50px;
    width:490px;
    color:white;
    background-color:blue;
    margin-top:-50px;
    position:absolute;
    font-weight:bold;
    font-size:24px;
    opacity:0.5;
    padding:0px 0px 0px 10px;
}
@media screen and (max-width:425px){
	section.open-source-projects{
    margin:auto;
    width:385px;
    margin-top:50px;
    color:#888;
}

section.open-source-projects>div.project-boxes{
    display:grid;
    grid-template-columns:repeat(1,1fr);
}
div.project-boxes>div.project>img{
    height:210px;
    width:385px;
    margin-top:10px;
	object-fit:cover;
    
}
div.project-boxes>div.project>p{
    height:50px;
    width:385px;
    margin-top:-50px;
    
}
}